* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    border: 1px solid black;
    padding: 14px 20px;
}
header span {
    font-size: 32px;
    font-family: 'Rubik Distressed', cursive;
}
.right-bar {
    position: relative;
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
}
.right-bar .btn-ker-bel button {
    height: 30px;
    width: 40px;
}

.right-bar .loginBtnContainer button {
    height: 30px;
    width: 60px;
}

.right-bar .shopping-cart-container {
    width: 285px;
    height: 400px;
    position: absolute;
    background-color: aquamarine;
    top: 40px;
    right: 0;
    padding: 25px 15px;
    border: 1px solid black;
    font-family: 'DynaPuff', cursive;
}

.shopping-cart-container .buku {
    display: flex;
    margin: 15px 0px;
    padding-bottom: 3px;

}
.shopping-cart-container .buku .img {
    width: 64px;
    height: 77.5px;
}

.shopping-cart-container .right {
    padding-left: 25px;
    height: 77.5px;
}

.shopping-cart-container .books .buku .right input {
    width: 60%;
}

.checkout-container {
    display: flex;
    justify-content: space-between;
}

#books-cat {
    margin: 65px;
    min-height: 90vh;
    padding: 34px 45px;
    background-color: aquamarine;
    font-family: 'DynaPuff', cursive;
}

#books-cat .title {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    font-family: 'DynaPuff', cursive;
}
.book {
    margin-top: 50px;
}
.book .img {
    width: 145px;
    height: 175px;
    border: 1px solid black;
}

.book .img img {
    width: 100%;
    height: 100%;
}

.add-to-cart input {
    width: 40%;
    box-sizing: border-box;
}

#books-cat .books {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}


footer {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}